<div class="container top-30  fadeIn fast">
  <div class="row">


    <div class="col-md-3">

      <label for="termino"> Buscador de artistas</label>

      <input [(ngModel)]="termino"
             (keyup)="buscarTermino()"
             class="form-control"
             type="text" name="termino" placeholder="Buscar por artista..."/>
      <hr>
    </div>

    <div class="col-md-9">
      <!--<ul>-->
        <!--<li *ngFor="let artista of spotifyService.artistas">-->
          <!--{{artista.name}}-->
        <!--</li>-->
      <!--</ul>-->
        <div class="row">
          <div class="col-md-3 text-center puntero"
               [routerLink]="['/artista', artista.id]"
               *ngFor="let artista of spotifyService.artistas">

            <img [src]="artista.images | sinfoto"  class="img-fluid img-thumbnail"  alt=""/>
            <p>{{artista.name}}</p>
            <hr>
          </div>


        </div>

    </div>
  </div>
</div>
