<h1 class="animated fadeIn fast">Sobre comic App</h1>
<hr>
<div class="animated fadeIn">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend porta venenatis. Donec tempor lectus
    lorem, luctus facilisis velit efficitur non. Pellentesque mollis nibh in metus fermentum, in accumsan odio
    imperdiet.
    Aenean porttitor dolor sapien, in suscipit lectus fermentum eu. Mauris suscipit ex non magna lacinia semper. Morbi
    lectus nisl, mollis non nibh et, malesuada interdum ligula. Etiam finibus luctus massa aliquet aliquam.
  </p>

  <p>Aenean gravida, massa eu hendrerit tincidunt, augue libero dignissim nulla, quis eleifend lorem tortor id massa. In
    et
    lacus sed mi viverra elementum. Phasellus nec viverra dui, at auctor erat. Vivamus elit enim, aliquet ut sapien
    ullamcorper, congue tincidunt purus. Vestibulum venenatis nulla non aliquam aliquet. Vestibulum tempor egestas
    varius.
    Aliquam et metus dolor. Integer lobortis lectus nulla, et maximus mi rhoncus id. Pellentesque auctor erat at lectus
    ultrices, vel rhoncus tellus suscipit. Ut quis vulputate nibh, at mollis nisi. Praesent sem tellus, porttitor non
    dictum et, sagittis eget ipsum. Nunc vitae nulla augue. Sed mattis ornare metus eu sodales. Curabitur vehicula
    molestie augue nec dapibus.
  </p>
</div>
